form {
    display: none;
}

.showing {
    display: block;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

.bgImeges {
    z-index: -1;
    animation: fadeIn .5s linear;
}